#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

table {
  margin: 0 auto;
}

td {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  font-size: 30px;
}
